/* MIX */

.p_top_80 {
  padding-top: 80px;
}
.p_bottom_80 {
  padding-bottom: 80px;
}

.bg_green {
  background-color: #1ABC9C;
}
.bg_light_blue {
  background-color: #2C3E50;
}

.btn_green {
  background-color: #1ABC9C;
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
}
.btn_green .glyphicon {
  vertical-align: middle;
  line-height: 20px;
}

.wrapper_small {
  max-width: 800px;
  margin: auto;
}

.dec_star {
  font-size: 35px;
  margin: 15px 0;
}
.dec_star i {
  margin: 0 5px;
}
.dec_star::before, .dec_star::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 3px;
  width: 100px;
  background-color: #fff;
  border-radius: 3px;
}

/* TYPO */

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 60px;
  padding: 10px 0;
}

/* HEADER */

/* header top */
.header_top {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  height: 80px;
  font-family: 'Montserrat', sans-serif;
  line-height: 80px;
  color: #fff;
}

.header_top .list-inline li a {
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  padding-left: 20px;
}

.logo {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
}

/* jumbo */
.jumbo {
  margin-top: 80px;
  padding: 70px 0;
}
.jumbo_text {
  max-width: 900px;
  padding: 0 15px;
  margin: auto;
  color: #fff;
  text-align: center;
}
.jumbo_text p {
  font-size: 26px;
}
.jumbo_img {
  width: 230px;
}

/* SECTIONS */

/* portfolio */

.box_portfolio {
  height: 250px;
  background-color: blue;
  margin-bottom: 30px;
}

/* FOOTER */

.footer_bottom {
  background-color: blue;
  color: #fff;
  padding: 20px 0;
}

/* RESPONSIVE */

@media screen and (max-width: 991px) {

  h1 {
    font-size: 44px;
  }

  .logo {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    font-size: 15px;
  }
}
